.container {
    margin-top: 15%;
}

.w-auto {
    width: auto;
}

.fs-08 {
    font-size: 0.8rem;
}

input[type=text].ng-valid {
    border-bottom: 1px solid #00c851 !important;
    box-shadow: 0 1px 0 0 #00c851 !important;
}

.text-truncated {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.no-units-msg {
    font-size: 1.1rem;
}

.hover {
    cursor: pointer;
    transition:
        color .15s ease-in-out,
        background-color .15s ease-in-out,
        border-color .15s ease-in-out,
        box-shadow .15s ease-in-out,
        -webkit-box-shadow .15s ease-in-out;
}
.hover:hover {
    -webkit-box-shadow:
        0 6px 12px 0 rgba(0,0,0,.18),
        0 5px 16px 0 rgba(0,0,0,.15);
    box-shadow:
        0 6px 12px 0 rgba(0,0,0,.18),
        0 5px 16px 0 rgba(0,0,0,.15);
    outline: 0;
}

.modal-full-height {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    width: 400px;
    height: auto;
    min-height: 100%;
    top: 0;
    right: 0;
}

.full-description {
    min-height: 118px;
}

@media only screen and (min-width: 0) and (max-width: 767px) {
    .modal-dialog {
        width: 200px !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .modal-dialog {
        width: 400px !important;
    }
}

@media only screen and (min-width: 1200px) {
    .modal-dialog {
        width: 500px !important;
    }
}
