<div ng-click="onClick({unitId: unit.id})" class="card hover">
    <div class="card-header p-0">
        <img ng-src="{{unit.picturesUrl.large}}" class="w-100 rounded-top animated fadeIn slower d-none d-xl-block" width="500" alt="large-unit-image">
        <img ng-src="{{unit.picturesUrl.medium}}" class="w-100 rounded-top animated fadeIn slower d-none d-md-block d-xl-none" alt="medium-unit-image">
        <img ng-src="{{unit.picturesUrl.small}}" class="w-100 rounded-top animated fadeIn slower d-xs-block d-md-none" alt="small-unit-image">
    </div>
    <div class="card-body px-0">
        <div class="container-fluid">
            <div class="row mb-1">
                <div class="col text-truncated">
                    <b>{{unit.name}} - {{unit.region}}</b>
                </div>
            </div>
            <div class="row mb-1">
                <div class="col text-truncated">
                    {{unit.description}}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    Cancellation: {{unit.cancellation}}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <b>{{unit.price}} BTC</b>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <i ng-repeat="i in getNumber(unit.rating) track by $index" class="fas fa-star yellow-text"></i>
                    <i ng-repeat="i in getNumber(5-unit.rating) track by $index" class="fas fa-star text-light"></i>
                </div>
                <div class="col-lg-8 text-lg-right">
                    <div ng-if="unit.booking" class="text-success">
                        Unit booked for year {{unit.booking.year}}
                        <i class="fas fa-check"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>