<navbar logo-src="assets/img/bg-mars-logo-white.png" avatar="user"></navbar>

<div class="container-fluid">

    <search-bar on-change-fn="searchUnits(query)"></search-bar>

    <div class="row" infinite-scroll="loadUnits()">
        <div ng-repeat="unit in units" class="col-md-4">
            <div class="row p-4">
                <div class="col">

                    <unit-card unit="unit" on-click-fn="openBookModal(unitId)"></unit-card>

                </div>
            </div>
        </div>
    </div>

    <div ng-if="allUnitsLoaded" class="row py-4">
        <div class="col text-center no-units-msg">
            No more units. All units are displayed.
        </div>
    </div>
</div>

<book-modal unit-id="selectedUnitId" on-success-fn="addBookingInfoToUnit(data)"></book-modal>
