<nav class="navbar navbar-expand-lg navbar-light shadow-none mb-3">
    <a class="navbar-brand" ui-sref="browse">
        <img ng-src="{{logoSrc}}" class="logo-img" alt="blueground-logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item avatar dropdown">
                <avatar avatar="avatar"></avatar>
            </li>
        </ul>
    </div>
</nav>